body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: whitesmoke;
}

/* ---- VARIABLES ---- */

:root{

    --top_navbar_height: 45px;    
    --circle_button_size: 50px;  /* TODO change name to: on_map_circle_button_size */
}